<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squads</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="container">
        <a href="/" class="btn">Home</a>
        <div class="display2">
            <div class="tabela">
                <table id='tabela-squads'>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <td>configs</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in lista%}
                        <tr>
                            <td>{{ s.id }}</td>
                            <td>{{ s.nome }}</td>
                            <td>
                                <a href="/cadastrar?id={{s.id}}" class="editar">Editar</a>
                                <a href="/excluir?id={{ s.id }}" class="excluir">Excluir</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>