<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Resultados</h1>
    <p>Resultado da soma entre {{n1}} + {{n2}} é = {{resultados['soma']}}</p>
    <p>Resultado da subtração entre {{n1}} - {{n2}} é = {{resultados['subtracao']}}</p>
    <p>Resultado da multiplicação entre {{n1}} * {{n2}} é = {{resultados['multiplicacao']}}</p>
    <p>Resultado da divisao_inteira entre {{n1}} // {{n2}} é = {{resultados['divisaoi']}}</p>
    <p>Resultado da divisao_fracionada entre {{n1}} / {{n2}} é = {{resultados['divisaof']}}</p>
    <p>Resultado do resto da divisao entre {{n1}} % {{n2}} é = {{resultados['restod']}}</p>
    <p>Resultado da raiz entre {{n1}} **1/2 {{n2}} é = {{resultados['raiz']}}</p>

    <br><br>
    <a href="/">Voltar para pagina inicial</a>
</body>
</html>