<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="container">
        <div class="display">
            <form action="/listar">
                <input type="submit"class='btn' href="/listar" value="Listar Squads">
            </form>
            <form action="/cadastrar">
                <input type="submit"class='btn' href="/cadastrar" value="Cadastrar Squad">
            </form>
        </div>
    </div>
</body>
</html>