<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="container">
        <div class="display2">
            <a href="/" class="btn">Home</a>
            <form action="/salvar" method="post">
                <input type="hidden" name="id" id="id" value="{{squad.id}}">
                <br/>
                <div class="form-group">
                    <label for="nome">Nome: </label>
                    <input type="text" name="nome" id="nome" class="form-group" value={{squad.nome}}>
                    <br>
                </div>
                <div class="form-group">
                    <label for="descricao">Descricao: </label>
                    <input type="text" name="descricao" id="descricao" class="form-group" value="{{squad.descricao}}"/>
                    <br>
                </div>
                <div class="form-group">
                    <label for="numeroPessoas">Numero Pessoas</label>
                    <input type="text" name="numeroPessoas" id="numeroPessoas" class="form-group" value="{{squad.numeroPessoas}}"/>
                    <br>
                </div>
                <div class="form-group">
                    <label for="id_linguagemBackEnd">ID Linguagem BackEnd</label>
                    <select name="id_linguagemBackEnd">
                        <option value=0>0 - Novo</option>
                        {% for opcao in lista_bc %}
                            <option value="{{opcao.id}}">{{opcao.id}} - {{opcao.nome}}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
                <div class="form-group">
                    {% if squad.id == 0 %}
                        <label for="nome_linguagemBackEnd">Nome Linguaguem BackEnd: </label>
                        <input type="text" name="nome_linguagemBackEnd" id="nome_linguagemBackEnd" class="form-group" value="{{squad.linguagemBackEnd.nome}}"/>
                    {% else%}
                        <input type="hidden" name="nome_linguagemBackEnd" id="nome_linguagemBackEnd" class="form-group"/>
                    <br>
                    {% endif%}
                </div>
                <div class="form-group">
                    <label for="id_frameworkFrontEnd">ID Framework</label>
                    <select name="id_frameworkFrontEnd">
                        <option value=0>0 - Novo</option>
                        {% for opcao in lista_fc %}
                            <option value="{{opcao.id}}">{{opcao.id}} - {{opcao.nome}}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
                <div class="form-group">
                    {% if squad.id == 0 %}
                        <label for="nome_frameworkFrontEnd">Nome Framework FrontEnd: </label>
                        <input type="text" name="nome_frameworkFrontEnd" id="nome_frameworkFrontEnd" class="form-group" value="{{squad.frameworkFrontEnd.nome}}"/>
                    {% else%}
                        <input type="hidden" name="nome_frameworkFrontEnd" id="nome_frameworkFrontEnd" class="form-group"/>
                    <br>
                    {% endif%}
                </div>
                <div class="form-group">
                    <label for="id_sgbds">ID SGBD</label>
                    <select name="id_sgbds">
                        <option value=0>0 - Novo</option>
                        {% for opcao in lista_sgbd %}
                            <option value="{{opcao.id}}">{{opcao.id}} - {{opcao.nome}}</option>
                        {% endfor %}
                   </select>
                    <br>
                </div>
                <div class="form-group">
                    {% if squad.id == 0 %}
                        <label for="nome_sgbds">Nome sgbds: </label>
                        <input type="text" name="nome_sgbds" id="nome_sgbds" class="form-group" value="{{squad.sgbds.nome}}"/>
                    {% else%}
                        <input type="hidden" name="nome_sgbds" id="nome_sgbds" class="form-group"/>
                    <br>
                    {% endif%}
                </div>
                <a>Obs. Caso utilizar a opção de inserir por IDs o SGBD, Framework ou Backend não utilizar os campos para colocar o nome do mesmo.</a>
                <input type="submit"class='btn' href="/salvar" value="Cadastrar">    
            </form>
        </div>
    </div>
</body>
</html>